#b1
{
    background-color: orange;
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    justify-content: center;
}
body{
    background-color: rgb(176, 182, 182);
    display: grid;
    align-items: center;
  
   
}
label
{
    display: block;
    margin-bottom: 10px;
}